<footer class="browse-footer">
  <div class="container container--wide browse-footer__grid">
    <div>
      <h3 class="browse-footer__heading">Company</h3>
      <ul class="browse-footer__list">
        <li><%= link_to "About Us", "#" %></li>
        <li><%= link_to "Careers", "#" %></li>
        <li><%= link_to "Press", "#" %></li>
      </ul>
    </div>
    <div>
      <h3 class="browse-footer__heading">Support</h3>
      <ul class="browse-footer__list">
        <li><%= link_to "Help Center", "#" %></li>
        <li><%= link_to "Safety Tips", "#" %></li>
        <li><%= link_to "Contact Us", "#" %></li>
      </ul>
    </div>
    <div>
      <h3 class="browse-footer__heading">Explore</h3>
      <ul class="browse-footer__list">
        <li><%= link_to "Membership", "/#pricing" %></li>
        <li><%= link_to "Success Stories", "/#featured-profiles" %></li>
        <li><%= link_to "Mobile App", "#" %></li>
      </ul>
    </div>
    <div>
      <h3 class="browse-footer__heading">Legal</h3>
      <ul class="browse-footer__list">
        <li><%= link_to "Privacy Policy", "#" %></li>
        <li><%= link_to "Terms of Service", "#" %></li>
        <li><%= link_to "Cookies", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="browse-footer__bottom">
    <div class="container container--wide browse-footer__bottom-inner">
      <p>© <%= Time.current.year %> Subh Vivaah. All rights reserved.</p>
    </div>
  </div>
</footer>
